.Movies > div {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.Movies h2 {
    text-align: center;
}

.Movie {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    flex-direction: column; 
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid #333;
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
    margin: 1rem;
    width: 320px;
    transition: transform 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.Movie h2 {
    background-color: rgba(0,0,0,0.03);
    border-radius: 3px 3px 0 0/23px 23px 0 0;
    border-bottom-width: 2px;
    border-color: inherit;
    font-size: 1.2rem;
    margin: 0;
    overflow: auto;
    padding: 0.75rem 4rem 0.75rem 1.25rem;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    width: auto;
}

.Movie > img,
.Movie .body-text {
    backface-visibility: hidden;
    transition: transform 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.Movie img.viewing,
.Movie .body-text {
    transform: rotateY(180deg);
}

.Movie .body-text img {
    float: left;
    margin: 0 1rem .5rem 0;
}

.Movie img.viewing + .body-text {
    transform: rotateY(0);
}

.Movie .body-text {
    flex: 1 1 auto;
    height: calc(100% - 3rem);
    padding: 1.25rem;
    position: absolute;
    top: 3rem;
}

.Movie p {
    margin-top: 0;
}

.Movie .genres {
    margin: .5rem 0;
}

.Movie .genres .badge {
    margin: 0 2px 4px;
}

.Movie .badge-info {
    float: right;
} 

.Movie:hover {
    transform: scale(1.025);
}