fieldset {
    border: none;
    margin: 0;
    padding: 0 0 1rem;
}

legend {
    padding-bottom: .5rem;
    font-size: 1.2rem;
}

.form-control {
    display: block;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    width: 100%;
    height: calc(1.5em + 0.75rem + 4px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #333;
    max-width: 320px;
    font-family: var(--font-family-sans-serif);
}

.search {
    display: flex; 
    justify-content: center;
    margin: 1rem 0 0;
}
.search input {
    max-width: 320px;
}